#section1
{
    color:white;
}
#section2
{
    color:white;
}
#header
{
    color:white;
}
body
{
    background: rgb(249,86,2);
    background: linear-gradient(90deg, rgba(249,86,2,0.7) 0%, rgba(249,86,2,1) 50%, rgba(249,86,2,0.7) 100%);
    text-align:center;
}
img
{
    width: 700px;
}